/* Diagnostic */

/* * {
  outline: 1px dotted rgb(0, 0, 0);
} */

body {
  font-family: 'Montserrat', sans-serif;
  transition: background .5s;
  background: #FFE957;
  color: #2A935C;
  
}

/* dark mode */
.dark {
  background: #2A935C;
  color: #FFE957;
}


/* Clock */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 5rem;
  
}

/* Time */
.time {
  font-size: 10rem;
}

button {
  display: flex;
  background: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

}