/* Diagnostic */

* {
  outline: 1px dotted darkgray;
}

body {
  font-family: 'Tanker', sans-serif;
  font-size: 8rem;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  
  height: 100vh;

}