/* Diagnostic */

* {
  outline: 1px dotted darkgray;
}

body {
  font-family: 'Montserrat', sans-serif;
  transition: background .5s;
  
}

/* dark mode */
.dark {
  background: darkgrey;
  color: whitesmoke;
}


/* Clock */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 5rem;
  
}